.mainFaq{

    background-image: linear-gradient(to left, #00406c,#312244 );
}

.faq__Titulo {
    font-size: 4rem;
    font-weight: 600;
    transform: skew(-10deg);
    text-align: center;
    margin-bottom: 1rem;
    color: white;
    
}

.subtitulos__Faq{
    font-size: 2.5rem!important;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: white;

}

.texto__Faq{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align:center;
    line-height: 1.5;
    word-spacing: 0.8rem;
    color: white;

}

.texto__Faq__ult{
    margin-bottom: 0rem !important;
    font-size: 1.5rem;
    text-align:center;
    line-height: 1.5;
    word-spacing: 0.8rem;
    color: white;

}