.footer{
    background-color:#002945 ;
}
.footer__fieldset{
    background-color:#144552 ;

}
.footer__fieldset_texto{
    color: white;
    background-color:#312244 ;
    text-align: start;
    font-size: 1.3rem;
    word-spacing: 0.5rem;
    letter-spacing: 2;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer_fieldset__input{
    margin-bottom: 1rem;
    padding: 8px 8px;
    border-radius: 30%;

}

.footer_nav{
    display:flex;
    margin-top: 1rem;
    flex-direction: row;
    justify-content: space-around;
}

.footer__nav__tarjetas{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.footer_nav__redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.footer__nav__link{
    text-decoration: none;
    background-color:#73706A ;
    color:white;  
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    margin: 10px; 
    border-radius: 30%;
}*/

.footer__nav__texto{
    font-size: 1.5rem;
    text-align: center;
    background-color: #144552;
    color:white;
    margin-bottom: 1rem;
}

.footer_nav__redes__link{
    transition: background-color 2s;
    text-decoration: none;
    background-color:#144552 ;
    color:white;  
    font-size: 1.2rem;
    text-align: center;
    margin: 8px 8px; 
    padding: 8px 8px;
    border-radius: 30%;
}

.footer_nav__redes__link:hover{
    background-color: #002945;
}

.footer__nav__tarjetas__link{
    transition: background-color 2s;
    text-decoration: none;
    background-color:#144552 ;
    color:white;  
    font-size: 1.2rem;
    text-align: center;
    margin: 8px 8px; 
    padding: 8px 8px;
    border-radius: 30%;

}
.footer__nav__tarjetas__link:hover{
    background-color: #002945;

}
