.header{

    background-color: #00406c;

    border: 3px groove #002945  ;
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap;
    align-items: center !important;
    flex-direction: row;
    
}

.header__logo{
    width: 4rem;
    height: 4rem;
    border-radius: 20%;
    transition: skew 2s;
}

.header__logo:hover{
    
    transform: skew(10deg,5deg);
}


.header__item{
    display: inline-block;
    background-color:#144552;
    margin: 5px 10px;
    padding: 8px 8px ;
    border-radius: 25%;
    text-align: center;
}

.header__link{
    color: white !important;
    text-decoration: none;
    font-size: 1.2rem; 
}

.header__lista{
    transition: background-color 2s !important;
    margin-bottom: 0 !important; 

}

.header__lista li:hover{
    background-color: #1b3a4b ;
}

.header__submenu{

    display: none;
    position: absolute;
    z-index: 999;
    
    
}

.header__submenu__item{

    display:block;
    position:relative;
    margin-top: 2vh !important; 
    background-color: #144552 ;
    margin: 10px 10px;
    padding: 8px 8px;
    border-radius: 25%;
    text-align: center;

}

.header__item:hover ul{
    display:block; 
      

}

.header__submenu__item a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    
}

.header__submenu__item__a{
    text-decoration: none ;
    color: white ;
    font-size: 1.2rem ; 
}

.header__submenu__fondo{
    background-color: transparent !important;
    border-radius: 20% !important;
    border: 0px !important;
}

