.header{

    background-image: linear-gradient(to left, #8C5423,#F2AE2E );
    border: 3px groove #F2AE2E ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    
}

.header__logo{
    width: 4rem;
    height: 4rem;
    border-radius: 20%;
    transition: skew 2s;
}

.header__logo:hover{
    
    transform: skew(10deg,5deg);
}


.header__item{
    display: inline-block;
    background-color:#73706A;
    margin: 10px 10px;
    padding: 8px 8px ;
    border-radius: 25%;
}

.header__link{
    color: white;
    text-decoration: none;
    font-size: 1.2rem; 
}

.header__lista{
    transition: background-color 2s !important;
    margin-bottom: 0 !important; 

}

.header__lista li:hover{
    background-color: #F2AE2E;
}

.header__submenu{

    display: none;
    position: absolute;
    z-index: 999;
    
    
}

.header__submenu__item{

    display:block;
    position:relative;
    margin-top: 2vh !important; 
    background-color: #73706A;
    margin: 10px 10px;
    padding: 8px 8px;
    border-radius: 25%;

}

.header__item:hover ul{
    display:block; 
      

}

.header__submenu__item a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    
}