.main{
    background-color: #002945;
}
.main__titulo__principal{
    transform: skew(-10deg);
    color: white ;
    font-size: 4rem;
    font-weight: 600;
    text-align: center ;
    margin-bottom: 2rem;
}
.main__hero__section{
    display: flex;
    justify-content: center;
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}

.main__section__hero__mq{
    display: none;
}

.main__section__dos__img__proteina{
    height: 200px;
    width: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 40%;
}
.main__section__dos__img__creatina{
    height: 200px;
    width: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 40%;   
}

.main__section__dos__texto__proteina{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #312244  ;
    color: white;
    font-size: 1.1rem;
    line-height: 2; 

}

.main__section__dos__texto__creatina{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #312244 ;
    color: white;
    font-size: 1.1rem;
    line-height: 2; 

}

.main__section__dos__btn{
    color:white !important;
    background-color: #312244 !important;
    border-radius: 25% !important;
}

.main__cont__section__dos{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;


}