@media screen and (min-width: 768px) {
    .section__hero__mq{
        display:none;

    }
}


@media screen and (max-width: 768px) {
    .header{
        flex-direction: column;
        background-image: linear-gradient(to left, #00406c,#312244 );

    }
    .main__section__hero__mq{
        display: flex;
        justify-content: center;
        align-content: center;
        background-image: url(../assets/Bproteinas.JPEG.JPEG);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 50vh;
    }

    .main__section__hero__mq__p{

        display: grid;
        place-items: center;
        color: white;
        font-size: 1.5rem;
        transform:skew(-8deg);
          
    }
    
    .sectionHero{
        display: none;
    }
    
}


@media screen and (max-width: 320px) {
    .header{
        flex-direction: column;
        background-image: linear-gradient(to left,  #312244, #144552 );

    }
    
    .menuPrincipal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer__fieldset{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

    }
    
    .sectionHero{
        display: none;
        

    }

    .section__hero__mq{
        display: flex;
        justify-content: center;
        align-content: center;
        background-image: url(../assets/Bproteinas.JPEG.JPEG);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 50vh;
    }

    .main__section__hero__mq__p{

        display: grid;
        place-items: center;
        color: white;
        font-size: 1.5rem;
        transform:skew(-8deg);
          
    }

    

    .footer{
        background-image: linear-gradient(to left, #312244, #144552);
    }
    .footer_nav{
        flex-direction: column;

    }
    
}

