* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.header {
  background-image: -webkit-gradient(linear, right top, left top, from(#00406c), to(#002945));
  background-image: linear-gradient(to left, #00406c, #002945);
  border: 3px groove #002945;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__logo {
  width: 4rem;
  height: 4rem;
  border-radius: 20%;
  -webkit-transition: skew 2s;
  transition: skew 2s;
}

.header__logo:hover {
  -webkit-transform: skew(10deg, 5deg);
          transform: skew(10deg, 5deg);
}

.header__item {
  display: inline-block;
  background-color: #144552;
  margin: 10px 10px;
  padding: 8px 8px;
  border-radius: 25%;
}

.header__link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.header__lista {
  -webkit-transition: background-color 2s !important;
  transition: background-color 2s !important;
  margin-bottom: 0 !important;
}

.header__lista li:hover {
  background-color: #1b3a4b;
}

.header__submenu {
  display: none;
  position: absolute;
  z-index: 999;
}

.header__submenu__item {
  display: block;
  position: relative;
  margin-top: 2vh !important;
  background-color: #144552;
  margin: 10px 10px;
  padding: 8px 8px;
  border-radius: 25%;
}

.header__item:hover ul {
  display: block;
}

.header__submenu__item a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.main {
  background-color: #002945;
}

.main__titulo__principal {
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  color: white;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

.main__hero__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main__section__hero__mq {
  display: none;
}

.main__section__dos__img__proteina {
  height: 200px;
  width: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 40%;
}

.main__section__dos__img__creatina {
  height: 200px;
  width: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 40%;
}

.main__section__dos__texto__proteina {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #312244;
  color: white;
  font-size: 1.1rem;
  line-height: 2;
}

.main__section__dos__texto__creatina {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #312244;
  color: white;
  font-size: 1.1rem;
  line-height: 2;
}

.main__section__dos__btn {
  color: white !important;
  background-color: #312244 !important;
  border-radius: 25% !important;
}

.main__cont__section__dos {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer {
  background-color: #002945;
}

.footer__fieldset {
  background-color: #144552;
}

.footer__fieldset_texto {
  color: white;
  background-color: #312244;
  text-align: start;
  font-size: 1.3rem;
  word-spacing: 0.5rem;
  letter-spacing: 2;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer_fieldset__input {
  margin-bottom: 1rem;
  padding: 8px 8px;
  border-radius: 30%;
}

.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__nav__tarjetas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_nav__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*.footer__nav__link{
    text-decoration: none;
    background-color:#73706A ;
    color:white;  
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    margin: 10px; 
    border-radius: 30%;
}*/
.footer__nav__texto {
  font-size: 1.5rem;
  text-align: center;
  background-color: #144552;
  color: white;
  margin-bottom: 1rem;
}

.footer_nav__redes__link {
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
  text-decoration: none;
  background-color: #144552;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin: 8px 8px;
  padding: 8px 8px;
  border-radius: 30%;
}

.footer_nav__redes__link:hover {
  background-color: #002945;
}

.footer__nav__tarjetas__link {
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
  text-decoration: none;
  background-color: #144552;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin: 8px 8px;
  padding: 8px 8px;
  border-radius: 30%;
}

.footer__nav__tarjetas__link:hover {
  background-color: #002945;
}

.mainFaq {
  background-image: -webkit-gradient(linear, right top, left top, from(#00406c), to(#312244));
  background-image: linear-gradient(to left, #00406c, #312244);
}

.faq__Titulo {
  font-size: 4rem;
  font-weight: 600;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

.subtitulos__Faq {
  font-size: 2.5rem !important;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
}

.texto__Faq {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
  word-spacing: 0.8rem;
  color: white;
}

.texto__Faq__ult {
  margin-bottom: 0rem !important;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
  word-spacing: 0.8rem;
  color: white;
}

.titulo_donde__comprar {
  font-size: 4rem;
  font-weight: 600;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

.main__dc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.parrafo__principal__dc {
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-transform: skew(-5deg);
          transform: skew(-5deg);
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  word-spacing: 0.5rem;
  line-height: 1.5;
  color: white;
}

.provincia__dc {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 1rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#00406c), to(#312244));
  background-image: linear-gradient(to left, #00406c, #312244);
  color: white;
}

.texto__dc {
  font-size: 1.2rem;
  -webkit-transform: skew(-5deg);
          transform: skew(-5deg);
  text-align: center;
  word-spacing: 1rem;
  color: white;
}

.titulo__Productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5rem;
  font-weight: 600;
  color: white;
  -webkit-transform: skew(-7deg);
          transform: skew(-7deg);
  background-image: -webkit-gradient(linear, right top, left top, from(#00406c), to(#002945));
  background-image: linear-gradient(to left, #00406c, #002945);
}

.main__padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__padre div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#00406c), to(#002945));
  background-image: linear-gradient(to left, #00406c, #002945);
}

.img__productos {
  height: 200px;
  width: 200px;
  border-radius: 25%;
  -webkit-transition: width, height 2s;
  transition: width, height 2s;
}

.img__productos:hover {
  height: 250px;
  width: 250px;
}

.titulo__main__productos {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  background-color: #312244;
  color: white;
}

.texto__main__productos {
  font-size: 1.2rem;
  -webkit-transform: skew(-5deg);
          transform: skew(-5deg);
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  word-spacing: 0.5rem;
  line-height: 2;
  background-color: #312244;
  color: white;
}

.btn__productos {
  color: white !important;
  background-color: #312244 !important;
  border-radius: 25% !important;
  margin-bottom: 1rem;
}

.main__padre__aminoacidos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.titulo__aminoacidos {
  font-size: 4rem;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.contenedor__aminoacidos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #312244;
  width: 30rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.img__aminoacidos {
  height: 200px;
  width: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}

.producto__nombre__aminoacidos {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 1rem;
}

.producto__p__aminoacidos {
  font-size: 1rem;
  color: white;
  text-align: center;
}

.titulo__creatina {
  font-size: 4rem;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.main__padre__creatina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contenedor__creatina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #312244;
  width: 30rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.imagen__creatina {
  height: 200px;
  width: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}

.producto__nombre__creatina {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 1rem;
}

.producto__p__creatina {
  font-size: 1rem;
  color: white;
  text-align: center;
}

.titulo__preentreno {
  font-size: 4rem;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.main__padre__preentreno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contenedor__preentreno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #312244;
  width: 30rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.imagen__preentreno {
  height: 200px;
  width: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}

.producto__nombre__preentreno {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 1rem;
}

.producto__p__preentreno {
  font-size: 1rem;
  color: white;
  text-align: center;
}

.titulo__proteina {
  font-size: 4rem;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.main__padre__proteina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contenedor__proteina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #312244;
  width: 30rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.imagen__proteina {
  height: 200px;
  width: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}

.producto__nombre__proteina {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 1rem;
}

.producto__p__proteina {
  font-size: 1rem;
  color: white;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section__hero__mq {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: -webkit-gradient(linear, right top, left top, from(#00406c), to(#312244));
    background-image: linear-gradient(to left, #00406c, #312244);
  }
  .main__section__hero__mq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background-image: url(../assets/Bproteinas.JPEG.JPEG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
  }
  .main__section__hero__mq__p {
    display: -ms-grid;
    display: grid;
    place-items: center;
    color: white;
    font-size: 1.5rem;
    -webkit-transform: skew(-8deg);
            transform: skew(-8deg);
  }
  .sectionHero {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: -webkit-gradient(linear, right top, left top, from(#312244), to(#144552));
    background-image: linear-gradient(to left, #312244, #144552);
  }
  .menuPrincipal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sectionHero {
    display: none;
  }
  .section__hero__mq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background-image: url(../assets/Bproteinas.JPEG.JPEG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
  }
  .main__section__hero__mq__p {
    display: -ms-grid;
    display: grid;
    place-items: center;
    color: white;
    font-size: 1.5rem;
    -webkit-transform: skew(-8deg);
            transform: skew(-8deg);
  }
  .footer {
    background-image: -webkit-gradient(linear, right top, left top, from(#312244), to(#144552));
    background-image: linear-gradient(to left, #312244, #144552);
  }
  .footer_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */